@import "support";

$chat-window-border-radius: 5px;

button {
  outline: none;
}

.text-center {
  text-align: center;
}

.chat-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin: 15px auto;
  border: 1px solid;
  border-radius: 19px;
  padding: 3px 21px;
  text-decoration: none;
  color: inherit;
  &:hover {
    box-shadow: 0 0 5px 3px #6fff00;
    cursor: pointer;
  }
  &:active {
    background-color: #f9fbf5;
    user-select: none;
  }
}

.chat {
  display: flex;
  width: max-content;
  margin: 15px auto;
  &__content {
    width: 720px;
    min-height: 55vh;
    position: relative;
    background-color: #594827;
    color: #b4b79a;
    border-top-left-radius: $chat-window-border-radius;
    border-bottom-left-radius: $chat-window-border-radius;
  }
  &__actions {
    width: 300px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 30px;
    background-color: #626954;
    border-left: 3px solid #333;
    border-top-right-radius: $chat-window-border-radius;
    border-bottom-right-radius: $chat-window-border-radius;
  }
}

.chat-user {
  display: flex;
  width: max-content;
  margin: 9px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 11px;
  background-color: #1a11aa;
  svg {
    fill: red;
    height: 1rem;
    width: auto;
    resize: both;
  }
  span {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}

.login {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  input {
    font-size: 2.3rem;
    text-align: center;
    margin-left: 1rem;
    border: 1px solid #333;
  }
}

.mute-btn {
  display: flex;
  flex-direction: column;
  transition: all 3s;

  &__top {
    fill: #F53132;
  }
  &__mid {
    fill: #731d1e;
  }
  &__activate {
    &__main {
      transform: scale(1, 0.3) translateY(135%);
    }
    &__top {
      fill: #39D400;
    }
    &__mid {
      fill: #1f7300;
    }
  }
  button {
    background: none;
    border: none;
    svg {
      height: 35px;
      fill: #731d1e;
    }
  }
  span {
    margin-top: 7px;
    font-size: 70%;
    color: white;
    text-shadow: 0 0 5px white;
    text-align: center;
  }
  //&:active {
  //  @extend .mute-btn__activate
  //}
}

.chat-actions {
  &__activate {
    background-color: #a62323 !important;
    box-shadow: inset 1px 1px 3px 1px #333 !important;
  }
  &__btn {
    padding: 5px;
    border-radius: 7px;
    background-color: #701818;
    border: 3px solid #703918;
    color: white;
    text-shadow: 0 0 5px white;
    height: max-content;
    box-shadow: 1px 1px 3px 1px #333;
    &:active {
      @extend .chat-actions__activate
    }
  }
  &__speak {
    @extend .chat-actions__btn
  }

  &__ping {
    @extend .chat-actions__btn
  }
}

#username {
  span {
    margin: 0 19px;
    font-size: 1.5rem;
    font-style: italic;
  }
  // logout
  button {
    @extend .button-base;
  }
}

.button-base {
  padding: 5px;
  border-radius: 7px;
  background-color: #289400;
  border: 3px solid #777;
  color: white;
  text-shadow: 0 0 5px white;
  box-shadow: 1px 1px #333;
  &:active {
    background-color: #1f7300;
    border: 3px solid #646464;
    box-shadow: inset 1px 1px #333;
  }
}

#btn-login {
  @extend .button-base;
  font-size: 3rem;
  display: flex;
  transform: translateX(45%);
  margin: 35px auto;
}

#player {
  visibility: hidden;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
