<template>
  <div>
    <h2 class="text-center">{{ rooms[currentId].name }}</h2>
    <div class="chat">
      <audio id="player">
        <source :src="`${cfg.SOCKET_LINK}:${cfg.SERVER_PORT}/radio/room/${currentId}`" type="audio/ogg">
        Your browser does not support the audio element.
      </audio>
      <div class="chat__content">
        <div class="chat-user">
          <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
            <circle cx="50%" cy="50%" r="50%" :fill="micro? 'green' : 'red'"></circle>
          </svg>
          <span>{{username}}</span>
        </div>
      </div>
      <div class="chat__actions">
        <div class="mute-btn">
          <button @click="muteToggler" class="chat-actions__mute">
            <svg viewBox="0 0 25 25">
              <g :class="[mute? 'mute-btn__activate__main': 'mute-btn__main']">
                <path :class="[mute? 'mute-btn__activate__mid': 'mute-btn__mid']" d="M5 3 H 20 V 21 H 5 V2.5" stroke-width="1"/>
                <path d="M18 3 l 0 18" stroke="#fff" stroke-width="0.1"/>
                <ellipse :class="[mute? 'mute-btn__activate__top': 'mute-btn__top']" cx="12.5" cy="3" rx="7.5" ry="0.7"/>
              </g>

              <g>
                <ellipse cx="12.5" cy="19.7" rx="12" ry="5" fill="#404b2d"/>
                <ellipse cx="12.5" cy="19.7" rx="10" ry="3" fill="#29301e"/>
                <path :class="[mute? 'mute-btn__activate__mid': 'mute-btn__mid']" d="M5 19 H 20 V 14.7 H 5 V2.5" stroke-width="1"/>
                <path d="M18 14.7 l 0 4.3" stroke="#fff" stroke-width="0.1"/>
              </g>
            </svg>
          </button>
          <span :style="!mute? 'color: #d0d0d0' : ''">MUTE</span>
        </div>
        <button @mousedown="microOn" @mouseup="microOff" v-bind:class="['chat-actions__speak', micro? 'chat-actions__activate': '']">
          VOICE
        </button>
        <button class="chat-actions__ping" @click="pingServer">
          PING
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import cfg from '../config'

export default {
  name: 'chat',
  data () {
    return {
      micro: false,
      isConnected: false,
      socketMessage: '',
      mute: true,
      cfg: cfg
    }
  },
  sockets: {
    // stream (val) {
    //   const player = document.getElementById('player')
    //   const mediaSource = new MediaSource()
    //
    //   mediaSource.addEventListener('sourceopen', function () {
    //     const sourceBuffer = mediaSource.addSourceBuffer('audio/mpeg')
    //     sourceBuffer.appendBuffer(val)
    //   })
    //
    //   player.src = window.URL.createObjectURL(mediaSource)
    // }
  },
  created () {
    window.addEventListener('keydown', (evt) => {
      if (evt.keyCode === 32) {
        this.micro = true
      }
    })

    window.addEventListener('keyup', (evt) => {
      if (evt.keyCode === 32) {
        this.micro = false
      }
    })
  },
  computed: {
    ...mapGetters({
      username: 'auth/username',
      rooms: 'rooms/all'
    }),
    currentId () {
      return this.$route.params.id
    }
  },
  methods: {
    microOn () {
      this.micro = true
    },
    microOff () {
      this.micro = false
    },
    pingServer () {
      this.$socket.emit('pingServer', 'PING from frontend!')
    },
    loadRec (stream) {
      const ctx = new window.AudioContext()
      const source = ctx.createMediaStreamSource(stream)
      socket.emit('stream', stream)
    },
    failRec (err) {
      console.log(err)
    },
    muteToggler () {
      this.mute = !this.mute
    }
  },
  watch: {
    'micro': function (val) {
      if (val) {
        navigator.getUserMedia({ video: false, audio: true }, this.loadRec, this.failRec)
      }
    },
    'mute': function (val) {
      const player = document.getElementById('player')
      if (!val) {
        player.play()
      } else {
        player.pause()
      }
    }
  }
}
</script>
