<template>
  <div class="home">
    <h2 class="text-center">Chats</h2>
      <ChatInfo v-for="(room, idx) in rooms"
                :key="room.name"
                :name="room.name"
                :countCurr="room.curr"
                :countMax="room.max"
                :link="'chat/'+ idx"
      ></ChatInfo>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ChatInfo from '@/components/ChatInfo'

export default {
  name: 'home',
  components: {
    ChatInfo
  },
  data () {
    return {
    }
  },
  created () {
    this.$store.dispatch('rooms/GET_ROOMS')
    this.$store.dispatch('stats/GET_ROOMS_STATS')
  },
  computed: {
    ...mapGetters({
      rooms: 'rooms/all',
      roomsCount: 'stats/roomsCount'
    })
  }
}
</script>
