<template>
  <div class="login">
    <label>Login: <input v-model="login" @keyup.enter="writeLogin"></label>
    <button :disabled="!validateLogin" id="btn-login" @click="writeLogin">Enter</button>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      login: ''
    }
  },
  computed: {
    validateLogin () {
      return (this.login.length > 3 && this.login.length < 15)
    }
  },
  methods: {
    writeLogin () {
      this.$store.dispatch('auth/LOGIN', { username: this.login })
        .then(() => this.$router.push('/'))
    }
  }
}
</script>
