<template>
  <router-link :to="link" class="chat-info">
    <h3>{{name}}</h3>
    <span>{{countCurr || 0}}/{{countMax || 0}}</span>
  </router-link>
</template>

<script>
export default {
  name: 'ChatInfo',
  props: [
    'name', 'countCurr', 'countMax', 'link'
  ]
}
</script>
