<template>
  <div id="app">
    <div id="nav" v-if="username">
      <router-link to="/">Home</router-link>
      <div id="username">
        <span>{{username}}</span>
        <button @click="logout">LOGOUT</button>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapGetters({
      username: 'auth/username'
    })
  },
  sockets: {
    connect () {
      console.log('socket connected')
      this.$socket.emit('pingServer', 'connected PING')
    },
    pIng (val) {
      console.log(val)
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/LOGOUT')
        .then(() => this.$router.push('/login'))
    }
  }
}
</script>

<style lang="scss">
  @import "styles/main";
</style>
